<div id="siteInfo_div">
    <% var imgDir = "images/" %>
    <% var pic = imgDir + data.images %>
    <% var boxId = "img" + 1 %> 
    <% if (data.images && data.images.length != "") { %>   
        <a href="#" onclick="showLightbox('<%= boxId %>')">
            <img class="sidebar-image" src="<%= pic %>" style="width:100%" />
        </a>
    <% } %>
    <div class="sidebar-content">
    <h3><%= data.name %></h3>
    <ul>
        <li><%= data.misc %></li>
    </ul>
    <div id="admin-buttons">
        <div class="mdl-layout-spacer"></div>
        <form id="editForm" action="/editsite" method="POST">
            <input hidden="true" name="idkey" value=<%= data._id %> type="text"></input>
            <button class="mdl-button mdl-js-button mdl-button--raised editButton" onclick="editItem()">EDIT</button>
        </form>
        <div class="mdl-layout-spacer"></div>
        <form id="deleteForm" action="/deletesite" method="POST">
            <input hidden="true" name="idkey" value=<%= data._id %> type="text"></input>
            <button class="mdl-button mdl-js-button mdl-button--raised deleteButton" onclick="deleteItem()">DELETE</button>
        </form>
        </div>
    </div>
</div>


