<div id="siteInfo_div">
    <% var imgDir = "images/" %>
    <% var pic = imgDir + data.images %>
    <%= data._id %>
    <% if (data.images && data.images.length != "") { %>
        <img src="<%= pic %>" style="width:100%" />
    <% } %>
    <h3><%= data.name %></h3>
    <ul>
        <li><%= data.misc %></li>
    </ul>
s
    <ul>
    <form action="/deletesite" method="POST">
    <input hidden="true" name="idkey" value=<%= data._id %> type="text"></input>
    <input type="submit" value="Delete"></input>

    </form>
    </ul>
</div>


