<% if (newMode) { %>
    <% var edit = true; %>
    <% var create = true; %>
<% } else { %> 
    <% var edit = false; %>
    <% var create = false; %>
    
    <% var imgDir = "images/"; %>
    <% var pic = imgDir + data.images; %>
    <% var boxId = "img"; %> 
<% } %>

<!-- Viewable Mode -->

<% if (!newMode) { %> 
<div class="view-mode <% if (!edit && !create) { %> active <% } %>">
    <% if (data.images && data.images.length != "") { %>
        <div class="image-container">
            <% for (var n = 0; n < data.images.length; n++) { %>  
                <a href="#" onclick="showLightbox('<%= boxId + n %>')">
                    <img class="sidebar-image" src="<%= data.images[n] %>" style="width:100%" />
                </a>
            <% } %> 
        </div>
    <% } %>

    <div class="sidebar-content">
        <h3 class="site-name"><%= data.name %></h3>
        <p class="site-paragraph"><%= data.misc %></p>
        <div class="pdf-list">
            <% if (data.pdf && data.pdf.length > 0) { %>
                <p>Associated files:</p>
                <ul>
                <% for (var n = 0; n < data.pdf.length; n++) { %>
                    <% var isPublic = data.pdfview[n] %>
                    <% if ( (isPublic) || (loggedin) ) { %>
                        <li <% if (!isPublic) { %> class="private" <% } %> >
                            <a href="pdf/<%= data.pdf[n] %>" target="_blank"><%= data.pdf[n] %></a>
                        </li>
                    <% } %>
                <% } %>
                </ul>
            <% } %>
        </div>
        <h6 class="site-creator">Created by: <span class="content-creator"><%= data.userFName + " " + data.userLName %></span></h6> 
    </div>

    <% if (loggedin) { %>
    <div id="admin-buttons">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        <button id="siteEditButton" onclick="toggleSiteEdit(true)" class="mdl-button mdl-js-button mdl-button--raised editButton">EDIT</button>
        <div class="mdl-layout-spacer"></div>
        <form id="deleteForm" action="/deletesite" method="POST">
            <input hidden="true" name="idkey" value="<%= data._id %>" type="text"></input>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton" onclick="deleteItem(deleteForm)">DELETE</button>
        </form>
    </div>
    <% } %>
</div>
<% } %>


<!-- Editable Mode -->

<div class="edit-mode <% if (edit) { %> active <% } %> ">
    <!-- Create form -->
    <% if (newMode) { %>
    <form id="createForm" onsubmit="submitCreateForm(event); return false;" enctype="multipart/form-data">
    
    <!-- Edit form -->
    <% } else { %>
    <form id="editForm" onsubmit="submitEditForm(event); return false;">
    <% } %>
    
        <!-- Images -->
        <% if (data.images && data.images.length != "") { %> 
            <% for (var n = 0; n < data.images.length; n++) { %>
                <a class="image-container" href="#" onclick="showLightbox('<%= boxId + n %>')">
                    <img src="<%= data.images[n] %>" style="width:100%" />
                    <div class="image-overlay">
                        <h3>Image</h3>
                    </div>
                </a>
            <% } %>
        <% } %>

        <!-- Super Ugly Form -->
        <div class="image-uploader">
            <label>Upload Pictures : </label>
            <input type="File" name="customFile" multiple />
        </div>

        <div class="site-name-input mdl-textfield mdl-js-textfield">
            <input name="name" placeholder="Battlesite Name" class="mdl-textfield__input" value="<%= data.name %>" style="margin: 10px 25px; font-size:200%" /> 
        </div>

        <textarea class="site-descript-input mdl-textfield__input" placeholder="Enter a description here..." rows=10 cols=70 name="misc">
            <%= data.misc %>
        </textarea>
        <hr />

        <div class="site-loc-input">
            <label>Use UTM</label>
            <input type="radio" name="radio" checked="true" onclick="toggleCoordFormat('utm','latlong')" />
            <label>Use Lat/Long</label>
            <input type="radio" name="radio" onclick="toggleCoordFormat('latlong','utm')" />
            <hr />
            <div id="utm">
                <label>Enter Zone Number: </label><input type="text" name="zone" /><br />
                <label>Enter Easting: </label><input type="text" name="easting" /><br />
                <label>Enter Northing: </label><input type="text" name="northing" /><br />
            </div>
            <div id="latlong" style="display:none">
                <label>Enter Site Latitude: </label><input type="text" name="Latitude" value="<%= data.lat %>" /><br />
                <label>Enter Site Longitude: </label><input type="text" name="Longitude" value="<%= data.lng %>" /><br />
            </div>
            <div id="publicCheck">
                Check to Make Private:
                <input id="checkBox" type="checkbox" name="pubCheck">
            </div>
            <hr />  
        </div>   

        <div class="pdf-list">
            <% if (data.pdf && data.pdf.length != "") { %>
                <p>Associated files:</p>
                <ul class="pdf-list">
                <% for(var n = 0; n < data.pdf.length; n++) { %>
                    <% var isPublic = data.pdfview[n] %>
                    <% if ( (isPublic) || (loggedin) ) { %>
                        <li <% if (!isPublic) { %> class="private" <% } %> >
                            <a href="pdf/<%= data.pdf[n] %>" target="_blank"><%= data.pdf[n] %></a>
                            <button class="pdf-remover mdl-button mdl-js-button mdl-button--icon mdl-button--colored" value="<%= data.pdf[n] %>">
                                <i class="material-icons">close</i>
                            </button>
                        </li>
                    <% } %>
                <% } %>
                </ul>
            <% } %>
        </div>

        <div class="file-uploaders">
            <label>Add Public PDF Files: </label><input type="File" name="pdfFilespublic" multiple /><br />
            <label>Add Private PDF Files: </label><input type="File" name="pdfFilesprivate" multiple /><br />
        </div>

        <% if (!newMode) { %>
        <input hidden="true" name="idkey" value="<%= data._id %>" type="text"></input>        
        <% } %>
        
        <div id="admin-buttons">
            <div class="mdl-layout-spacer"></div>

            <% if (newMode) { %>
            <input type="submit" value="SUBMIT" class="mdl-button mdl-js-button mdl-button--raised createButton" />
            
            <% } else { %>
            <input type="submit" value="SAVE" class="mdl-button mdl-js-button mdl-button--raised editButton" />
            <div class="mdl-layout-spacer"></div>
            <button onclick="toggleSiteEdit(false)" type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton">CANCEL</button>
            <% } %>
        </div> 

    </form>       
</div>