<% if (newMode) { %>
    <% var edit = true; %>
    <% var create = true; %>
<% } else { %> 
    <% var edit = false; %>
    <% var create = false; %>
    
    <% var imgDir = "images/"; %>
    <% var pic = imgDir + data.images; %>
    <% var boxId = "img"; %> 
<% } %>

<% if (!newMode) { %> 
<div class="view-mode <% if (!edit && !create) { %> active <% } %>">
    <% if (data.images && data.images.length != "") {
         for(var n = 0; n < data.images.length; n++) {
            console.log(data.images[n]);
         %>  
        <a href="#" onclick="showLightbox('<%= boxId + n %>')">
            <img class="sidebar-image" src="<%= data.images[n] %>" style="width:100%" />
        </a>
    <% }} %>
    <div class="sidebar-content">
        <h3 class="siteInfo_name"><%= data.name %></h3>
        <p class="siteInfo_paragraph"><%= data.misc %></p>
        <h6 class="siteInfo_Creator"><%= data.userFName %></p>
    </div>
    <% console.log("Working");
     if (data.pdf && data.pdf.length != "") {
         for(var n = 0; n < data.pdf.length; n++) {
            if((data.pdfview[n])||(loggedin)){
            console.log(data.pdf[n]); %>
            <a href="pdf/<%= data.pdf[n] %>" target="_blank"><p> <%= data.pdf[n] %></p></a>
            <%}
         }
     } %>
    <% if(loggedin){ %>
    <div id="admin-buttons">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-layout-spacer"></div>
        <button id="siteEditButton" onclick="toggleSiteEdit(true)" class="mdl-button mdl-js-button mdl-button--raised editButton">EDIT</button>
        <div class="mdl-layout-spacer"></div>
        <form id="deleteForm" action="/deletesite" method="POST">
            <input hidden="true" name="idkey" value=<%= data._id %> type="text"></input>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton" onclick="deleteItem()">DELETE</button>
        </form>
    </div>
    <% } %>
</div>
<% } %>


<div class="edit-mode <% if (edit) { %> active <% } %> ">

    <!-- Create form -->
    <% if (newMode) { %>
    <form id="createForm" onsubmit="submitCreateForm(event); return false;" enctype="multipart/form-data">
    
    <!-- Edit form -->
    <% } else { %>
    <form id="editForm" onsubmit="submitEditForm(event); return false;">
    <% } %>
    
        <!-- Images -->
        <% if (data.images && data.images.length != "") { for(var n = 0; n < data.images.length; n++) {
            console.log(data.images[n]);
         %>   
            <a class="image-container" href="#" onclick="showLightbox('<%= boxId + n %>')">
                <img src="<%= data.images[n] %>" style="width:100%" />
                <div class="image-overlay">
                    <h3>Image</h3>
                </div>
            </a>
        <% }} %>

        <!-- Super Ugly Form -->
        Upload Picture<input type="File" name="customFile"><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input name="name" placeholder="Battlesite Name" class="mdl-textfield__input" value="<%= data.name %>" style="margin: 10px 25px; font-size:200%" /> 
        </div>
        <ul>
            <li><textarea placeholder="Enter a description here..." class="mdl-textfield__input" rows=10 cols=70 name="misc"><%= data.misc %></textarea></li>
        </ul>
        <br />

        <% if (newMode) { %>
        Use UTM<input type="radio" name="radio" checked="true" onclick="toggleCoordFormat('utm','latlong')"><br>
        Use Lat/Long <input type="radio" name="radio" onclick="toggleCoordFormat('latlong','utm')"> <br>
        <div id="utm">
		Enter Zone Number <input type="text" name="zone"></input><br>
        Enter Easting<input type="text" name="easting"> </input><br>
        Enter Northing<input type="text" name="northing"> </input><br>
        </div>
        <div id="latlong" style="display:none">
        Enter Site Latitude<input type="text" name="Latitude"> </input><br>
        Enter Site Longitude<input type="text" name="Longitude"> </input><br>
        </div>
        <% } %>

        <!-- Id holder  -->
        <% if (!newMode) { %>
        <input hidden="true" name="idkey" value="<%= data._id %>" type="text"></input>        
        <% } %>
        
        <div id="admin-buttons">
            <div class="mdl-layout-spacer"></div>

            <% if (newMode) { %>
            <input type="submit" value="SUBMIT" class="mdl-button mdl-js-button mdl-button--raised createButton" />
            
            <% } else { %>
            <input type="submit" value="SAVE" class="mdl-button mdl-js-button mdl-button--raised editButton" />
            <div class="mdl-layout-spacer"></div>
            <button onclick="toggleSiteEdit(false)" type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton">CANCEL</button>
            <% } %>

        </div> 
    </form>       
</div>