<% var edit = false; %>
<% var create = false; %>
<% var imgDir = "images/"; %>
<% var pic = imgDir + data.images; %>
<% var boxId = "img" + 1; %> 


<div class="view-mode <% if (!edit && !create) { %> active <% } %>">
    <% if (data.images && data.images.length != "") { %>   
        <a href="#" onclick="showLightbox('<%= boxId %>')">
            <img class="sidebar-image" src="<%= pic %>" style="width:100%" />
        </a>
    <% } %>
    <div class="sidebar-content">
        <h3 class="siteInfo_name"><%= data.name %></h3>
        <p class="siteInfo_paragraph"><%= data.misc %></p>
    </div>
    <% if(loggedin){ %>
    <div id="admin-buttons">
        <div class="mdl-layout-spacer"></div>
        <button id="siteCreateButton" onclick="toggleSiteCreate(true)" class="mdl-button mdl-js-button mdl-button--raised createButton">CREATE</button>
        <div class="mdl-layout-spacer"></div>
        <button id="siteEditButton" onclick="toggleSiteEdit(true)" class="mdl-button mdl-js-button mdl-button--raised editButton">EDIT</button>
        <div class="mdl-layout-spacer"></div>
        <form id="deleteForm" action="/deletesite" method="POST">
            <input hidden="true" name="idkey" value=<%= data._id %> type="text"></input>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton" onclick="deleteItem()">DELETE</button>
        </form>
    </div>
    <% } %>
</div>

<div class="edit-mode <% if (edit) { %> active <% } %> ">
    <form id="editForm" onsubmit="submitEditForm(window.event); return false;">
        <% if (data.images && data.images.length != "") { %>   
            <a class="image-container" href="#" onclick="showLightbox('<%= boxId %>')">
                <img src="<%= pic %>" style="width:100%" />
                <div class="image-overlay">
                    <h3>Image</h3>
                </div>
            </a>
        <% } %>
        <br />
        <br />
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            <input name="name" class="mdl-textfield__input" value="<%= data.name %>" style="margin: 10px 25px; font-size:200%" /> 
        </div>
        <ul>
            <li><textarea class="mdl-textfield__input" rows=10 cols=70 name="misc"><%= data.misc %></textarea></li>
        </ul>
        <br />
        
        <input hidden="true" name="idkey" value="<%= data._id %>" type="text"></input>
        
        <div id="admin-buttons">
            <div class="mdl-layout-spacer"></div>
            <input type="submit" value="SAVE" class="mdl-button mdl-js-button mdl-button--raised editButton" />
            <div class="mdl-layout-spacer"></div>
            <button onclick="toggleSiteEdit(false)" type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton">CANCEL</button>
        </div> 
    </form>       
</div>

<div class="create-mode <% if (create) { %> active <% } %> ">
    <form id="createForm" action="/cities" method="POST" enctype="multipart/form-data">
        <div class="mdl-textfield mdl-js-textfield">
            <input name="cityName" type="text" class="mdl-textfield__input" value="New Site Name" style="margin: 10px 25px; font-size:200%" /> 
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input name="Latitude" type="text" class="mdl-textfield__input" value="Latitude" style="margin: 10px 25px; font-size:200%" /> 
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input name="Longitude" type="text" class="mdl-textfield__input" value="Longitude" style="margin: 10px 25px; font-size:200%" /> 
        </div>
        Upload File<input type="File" name="customFile"><br>
        <ul>
            <li><textarea class="mdl-textfield__input" rows=10 cols=70 name="custom">Text Here</textarea></li>
        </ul>
        <br />
        
        
        <div id="admin-buttons">
            <div class="mdl-layout-spacer"></div>
            <input type="submit" value="SUBMIT" class="mdl-button mdl-js-button mdl-button--raised createButton" />
            <div class="mdl-layout-spacer"></div>
            <button onclick="toggleSiteCreate(false)" type="button" class="mdl-button mdl-js-button mdl-button--raised deleteButton">CANCEL</button>
        </div> 
    </form>
</div>

